a:link {
	color: #ef0a51;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
  color: #b66f85;
  background-color: transparent;
  text-decoration: underline;
}

body {
	color: #ffffff;
	background-color: #000000;
}
.collapsible {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid #ef0a51;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: white;
  float: left;
  margin-right: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #000000;
}